
body {
	background-color: #e8f8f5;
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

.box{
	border: 3px solid black;
	border-radius: 50px;
	background-color:whitesmoke;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: auto;
	min-width:250px;
	max-width:400px;
	margin-top:150px;
	text-align:center;
}

button{
	background-color: silver;
	font-weight: bold;
	font-size:large;
	width: 200px ;
	height: 40px;
	margin:15px;
	color: black;
	border-radius:50px;
}

	button:hover{
		background-color: deepskyblue;
	}

.topnav {
	overflow: hidden;
	background-color: black;
	padding:0;
	margin:0;
}

	.topnav a {
		float: left;
		color: whitesmoke;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
		font-weight:bold;
	}

	.topnav a:hover {
		background-color: deepskyblue;
		color: black;
	}

input {
	background-color: #e8f8f5;
	font-weight: bold;
	font-size: large;
	width: 200px;
	height: 40px;
	margin: 15px;
}
	
label{
	font-weight:bold;
	font-size:20px;
}

textarea {
	min-height: 400px ;
	max-height: 950px ;
	min-width:800px ;
	max-width:2000px ;
	resize:both ;
	background-color:whitesmoke;
}

text{
	font-size:18px
}

a:hover{
	color: red;
	text-decoration:none;
}

a{
	color: blue;
	text-decoration:none;
}

table{
	border-collapse: collapse;
	margin:auto;
}

th, td {
	border: 2px solid black;
	text-align: left;
	padding: 8px;
	word-wrap: break-word;
}

td:nth-child(even){
	width:1000px;
}

td:nth-child(odd){
	max-width:500px;
}

tr:nth-child(even) {
	background-color: mediumaquamarine;
	color: black;
}

tr:first-child{
	font-weight:bold;
	font-size:large;
}


