
body{
	background-color:#e8f8f5;
}

h1{
	text-align: center;
}

div{
	border: 3px solid black;
	border-radius: 50px;
	background: silver;
	padding: 40px;
	margin: auto;
	max-width:200px;
	margin-top:15%;
}

button{
	background-color: powderblue;
	font-weight: bold;
	font-size:large;
	width: 200px ;
	height: 40px;
}

	button:hover{
		background-color: deepskyblue;
	}

.topnav {
	overflow: hidden;
	background-color: #333;
}

	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		.topnav a.active {
			background-color: #04AA6D;
			color: white;
		}
