
body{
	background-color:#e8f8f5;
	text-align: center;
}

h1{
	text-align: center;
}

div{
	border: 3px solid black;
	border-radius: 50px;
	background: silver;
	padding: 40px;
	margin: auto;
	max-width:200px;
	margin-top:15%;
}

button{
	background-color: powderblue;
	font-weight: bold;
	font-size:large;
	width: 200px ;
	height: 40px;
}

button:hover{
	background-color: powderblue
}

nav{
	background-color:black;
	top:0px;
}
